# Python3 元组
Python 的元组与列表类似，不同之处在于元组的元素不能修改。

元组使用小括号 ( )，列表使用方括号 [ ]。

In [1]:
tup1 = ('Google', 'Runoob', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"   #  不需要括号也可以
type(tup3)

tuple

In [2]:
# 创建空元组
tup1 = ()

元组中只包含一个元素时，需要在元素后面添加逗号 , ，否则括号会被当作运算符使用：

In [3]:
tup1 = (50)
type(tup1)

int

In [4]:
tup1 = (50,)
type(tup1)

tuple

## 访问元组

In [5]:
tup1 = ('Google', 'Runoob', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
 
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  Google
tup2[1:5]:  (2, 3, 4, 5)

## 修改元组
元组中的元素值是不允许修改的，但我们可以对元组进行连接组合，如下实例:

In [6]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# 以下修改元组元素操作是非法的。
# tup1[0] = 100
 
# 创建一个新的元组
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

## 删除元组
元组中的元素值是不允许删除的，但我们可以使用del语句来删除整个元组，如下实例:

In [7]:
tup = ('Google', 'Runoob', 1997, 2000)
 
print (tup)
del tup
print ("删除后的元组 tup : ")
print (tup)

('Google', 'Runoob', 1997, 2000)
删除后的元组 tup :

NameError: name 'tup' is not defined

## 元组运算符
与字符串一样，元组之间可以使用 +、+=和 * 号进行运算。这就意味着他们可以组合和复制，运算后会生成一个新的元组。

In [8]:
# len((1, 2, 3))  计算元素个数
len((1, 2, 3))

3

In [9]:
# + 连接，c 就是一个新的元组，它包含了 a 和 b 中的所有元素。
a = (1, 2, 3)
b = (4, 5, 6)
c = a + b
c

(1, 2, 3, 4, 5, 6)

In [10]:
# 复制
('Hi!',) * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [11]:
3 in (1, 2, 3)

True

In [12]:
for x in (1, 2, 3): 
    print (x, end=" ")

1 2 3

## 元组索引，截取
因为元组也是一个序列，所以我们可以访问元组中的指定位置的元素，也可以截取索引中的一段元素

In [13]:
tup = ('Google', 'Runoob', 'Taobao', 'Wiki', 'Weibo','Weixin')
tup[1]

'Runoob'

In [14]:
tup[-2]

'Weibo'

In [15]:
tup[1:]

('Runoob', 'Taobao', 'Wiki', 'Weibo', 'Weixin')

In [16]:
tup[1:4]

('Runoob', 'Taobao', 'Wiki')

## 元组内置函数

In [17]:
# len(tuple) --> 计算元组元素个数。
tuple1 = ('Google', 'Runoob', 'Taobao')
len(tuple1)

3

In [18]:
tuple2 = ('5', '4', '8')
max(tuple2)

'8'

In [19]:
tuple2 = ('5', '4', '8')
min(tuple2)

'4'

In [20]:
# tuple(iterable) 将可迭代系列转换为元组。
list1= ['Google', 'Taobao', 'Runoob', 'Baidu']
tuple1 = tuple(list1)
tuple1

('Google', 'Taobao', 'Runoob', 'Baidu')